<div class="container">
    <div class="main">
        <div class="main-text-ocult">
            <div class="logo-ocult">
                <i class="fa-solid fa-staff-snake"></i><h6>Healphy's</h6>
            </div>
        </div>
        <div class="dados-register">
            <div class="content">
                <form action="" method="POST" id="register">
                    <p>Registre-se</p>
                    <input type="text" placeholder="Seu E-mail" name="email" id="email" required>
                    <input type="text" placeholder="Seu nome" name="name" id="nome" required>
                    <input type="text" placeholder="Sua senha" name="senha" id="senha" required>
                    <input type="text" placeholder="Confirme sua senha" name="senha-rpt" id="senha-rpt" required>
                    <div class="aceite">
                        <span>Ao se registrar, você aceita nossos <a href="">termos de uso</a> e a nossa <a href="">política de privacidade.</a></span>
                    </div>
                    <hr>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
        <div class="main-text">
            <div class="logo">
                <i class="fa-solid fa-staff-snake"></i><h6>Healphy's</h6>
            </div>
            <h3>Crie sua conta</h3>
            <p><a [routerLink]="['']"><i class="fa-solid fa-arrow-left"></i>&nbsp;Voltar ao Login</a></p>
        </div>
    </div>
</div>
