<div class="container">
    <div class="main">
        <div class="dados-register">
            <div class="content">
                <div>
                    <p>Registre-se</p>
                    <input type="text" placeholder="Seu E-mail" id="email">
                    <input type="text" placeholder="Seu nome" id="senha">
                    <input type="text" placeholder="Sua senha" id="senha">
                    <input type="text" placeholder="Confirme sua senha" id="senha">
                    <div class="aceite">
                        <span>Ao se registrar, você aceita nossos <a href="">termos de uso</a> e a nossa <a href="">política de privacidade.</a></span>
                    </div>
                    <hr>
                    <button>Cadastrar</button>
                </div>
            </div>
        </div>
        <div class="main-text">
            <div class="logo">
                <i class="fa-solid fa-staff-snake"></i><h6>Healphy's</h6>
            </div>
            <h3>Crie sua conta</h3>
            <p><a [routerLink]="['']"><i class="fa-solid fa-arrow-left"></i>&nbsp;Voltar ao Login</a></p>
        </div>
    </div>
</div>
