<div class="container">
    <div class="main">
        <div class="main-text">
            <div class="logo">
                <i class="fa-solid fa-staff-snake"></i><h6>Healphy's</h6>
            </div>
            <h3>Faça seu login na plataforma</h3>
        </div>
        <div class="dados-login">
            <div class="content">
                <div>
                    <input type="text" placeholder="E-mail">
                    <input type="text" placeholder="Senha">
                    <p>Esqueci minha senha</p>
                    <button>Entrar</button>
                    <label>Não tem uma conta?<p>Registre-se</p></label>
                    <hr>
                    <div class="footer-login">
                        <label>Ou entre com</label>
                        <button><i class="fa-solid fa-heart-pulse"></i>Vive+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
